{% extends "layout.html" %}

{% block title %}FLM films{% endblock %}

{% block b2 %}<h2><a href="/">Back</a></h2>{% endblock %}
{% block content %}


<p>List of <b>{{count}}</b> FLM films:</p>

{% for item2 in countries %}
{{item2[0]}} | {{item2[1]}}<br>
{% endfor %}
<br><hr>
{% for item in results %}
<div class="main" style="background-color: #fffef7;display: block;height: 660px;border: 1px solid;padding: 5px;margin: 5px;">
<img style="float:left;display:inline;margin-right:5px;" width="130" src="/static/covers_flm/{{item[0]}}.jpg" /><h2 style="display:inline;">{{item[2]}} |</h2><h2 style="display:inline;"> {{item[8]}}</h2><br>
<div class="title" style="display:inline;">English title: {{item[1]}}</div><br>
<div class="genres" style="display:inline;">Genres: {{item[5]}}</div><br>
<div class="director" style="display:inline;">Director: {{item[3]}}</div><br>
<div class="actors" style="display:inline;">Actors: {{item[6]}}</div><br>
<div class="plot" style="display:inline;">Plot: {{item[7]}}</div><br>
<div class="country" style="display:inline;">Country: {{item[9]}}</div><br>
<div class="language" style="display:inline;">Language: {{item[10]}}</div><br>
<div class="flmactress">FLM Actress: {{item[11]}}</div>
<div class="imdb">iMDB: {{item[0]}}</div>

{% endfor %}

{% if session.logged_in %}
{% for item2 in list_img %}
<a href="/static/flm_images/{{search}}/{{item2}}"><img width="150px" src="/static/flm_images/{{search}}/{{item2}}" /></a>
{% endfor %}


<form method="post" action="/file-upload/{{search}}" class="dropzone" enctype="multipart/form-data">
<input type="file" name="file">
<input type="submit" value="Submit">
</form>
<script>
  Dropzone.discover();
</script>
{% endif %}
</div>
{% endblock %}

