{% extends "layout.html" %}
{% block title %}>List of celebs{% endblock %}

{% block b2 %}<h2><a href="/images">Back</a></h2>{% endblock %}

{% block content %}
<h1>list of celebs</h1>

<p><b>Celebs with over 1000 images:</b></p>

{% for item in years1 %}
  <a href="/images/{{item[2]}}">{{item[0]}}</a>     <strong>{{item[1]}}</strong> images<br>
{% endfor %}

<p><b>Celebs with over 500 images:</b></p>

{% for item in years2 %}
  <a href="/images/{{item[2]}}">{{item[0]}}</a>     <strong>{{item[1]}}</strong> images<br>
{% endfor %}

<p><b>Celebs with over 100 images:</b></p>

{% for item in years3 %}
  <a href="/images/{{item[2]}}">{{item[0]}}</a>     <strong>{{item[1]}}</strong> images<br>
{% endfor %}

<p><b>Celebs with over 30 images:</b></p>

{% for item in years4 %}
  <a href="/images/{{item[2]}}">{{item[0]}}</a>     <strong>{{item[1]}}</strong> images<br>
{% endfor %}

<p><b>Celebs with under 30 images:</b></p>

{% for item in years5 %}
  <a href="/images/{{item[2]}}">{{item[0]}}</a>     <strong>{{item[1]}}</strong> images<br>
{% endfor %}

{% endblock %}