{% extends "layout.html" %}

{% block title %}> {{ gal }} {% endblock %}

{% block b2 %}<h2><a href="../hosted">Back</a></h2>{% endblock %}
{% block content %}
  <h1>{{ gal }} images</h1>



<div id="count">Items in gallery: {{ gcount }}</div>

<table class="sortable" style="width:100%"><script src="/static/sorttable.js"></script><tr><th style="text-align:left">Image</th><th style="text-align:left">File name</th><th style="text-align:left">Date modified</th><th style="text-align:left">Resolution</th></tr>
{% for img, imh, imm in results3 %}
<tr><td class="title"><a href="/static/hosted/{{ gal }}/{{img}}"><img alt="{{img}}" title="{{img}}" height="100px" src="/static/hosted/{{ gal }}/{{ img|e }}"/></a><div class="size" style="position:relative;bottom:25px;color:white;padding-left:3px;font-size:14px;">{{ imh }}</div</td> <td class="name">{{img}}</td> <td class="rlsdate">{{imm}}</td><td class="rlsdate">{{imh}}</td></tr>

{% endfor %}
</table>
{% endblock %}
