<!doctype html>
<html>
  <head>
    <div class="header"><img src="/static/hidden2.jpg"/></div>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='dropzone.css') }}"> 
    <script type="text/javascript" src="/static/dropzone.js"></script>
    <title>{% block title %}{% endblock %} - My Webpage</title>
    {% endblock %}
  </head>
  <div class="sidebar">
    <p>{% block b2 %}{% endblock %}</p>
    <p><a href="/">Home</a></p>
    <p><a href="/movies">Movies</a></p>
    <p><a href="/tv">TV</a></p>
    <p><a href="/flm">FLM Movies</a></p>
    <p><a href="/wiki/stargate">Stargate Wiki</a></p>
    <p><a href="/wiki/residentevil">Resident Evil Wiki</a></p>
    <p><a href="/gamesv2">Games</a></p>
    <p><a href="/blog2">Blog v2</a></p>
    {% if session.logged_in %}
    <p><a href="/dashboard">Dashboard</a></p>
    {% endif %}
  </div>
  <body>
    <div class="content">{% block content %}{% endblock %}</div>
    <div id="footer">
      {% block footer %}
      {% if session.logged_in %}
        <p>Welcome back</p>
      {% endif %}
      &copy; Copyright 2010 by <a href="http://domain.invalid/">you</a>.
      {% endblock %}
    </div>
  </body>
</html>
