{% extends "layout.html" %}

{% block title %}>Movies{% endblock %}

{% block b2 %}<h2><a href="/">Back</a></h2>{% endblock %}
{% block content %}

<form method='post' action='/movies/{{search}}'>
<div><input type='text' name='fname' placeholder='File name'>
<input type='submit'>
</div>
</form>

<p>Number of movies: {{count}}</p>
<a href="/movies/groups">List of groups</a><br>
<a href="/movies/director">List of directors</a><br>
<a href="/movies/years">List of years</a><br>
<a href="/movies/company">List of studios</a>


<p>List of genres:</p>
(The wide/limited/video sections incomplete)<br><br>

{% for item in genres %}
   <a href="/movies/genre/{{item}}">{{item}}</a> | <a style="color:red;font-size:13px;" href="/movies/genrewide/{{item}}">Wide releases</a> | <a style="color:red;font-size:13px;" href="/movies/genreltd/{{item}}">Limited releases</a> | <a style="color:red;font-size:13px;" href="/movies/genrevideo/{{item}}">Video releases</a><br>
------------------------------------------------------------------------<br>
{% endfor %}
<a href="/movies/genre/None">None</a>

<p><a href="/movies/boxgenres">Box office movie generes</a></p>
{% endblock %}
