{% extends "layout.html" %}

{% block title %}>Movies{% endblock %}

{% block b2 %}<h2><a href="/">Back</a></h2>{% endblock %}
{% block content %}
<p>Number of movies: {{count}}</p>
<a href="/movies/groups">List of groups</a><br>
<a href="/movies/director">List of directors</a><br>
<a href="/movies/years">List of years</a><br>
<a href="/movies/company">List of studios</a>

<p>List of genres:</p>

{% for item in genres %}
   <a href="/movies/genre/{{item}}">{{item}}</a><br>
{% endfor %}
<a href="/movies/genre/None">None</a>
{% endblock %}
