{% extends "layout.html" %}
{% block title %}> {{ release }} (Release Details){% endblock %}

{% block b2 %}<h2><a href="/movies">Back</a></h2>{% endblock %}

{% block content %}

{% set comma = joiner(",") %}
{% for item in results %}
  <p>  <l class="title" style="font-weight:bold;font-size:22px;">{{item[0]}} ({{item[11]}})</l><br><br>

      <img src="/static/covers/{{item[4]}}" /><br>
      <b>imdb</b>: <a class="imdb" href="{{item[12]}}">{{item[12]}}</a><br>
      <b>genre</b>: <class="genre">{% for item3 in genres_list %}{{comma()}} <a href="/movies/genre/{{item3}}">{{item3}}</a>{% endfor %}</class><br>
      <b>director</b>: <a href="/movies/director/{{item[6]}}"> {{item[6]}}</a><br>
      <b>title</b>: {{item[5]}}<br>
      <b>main cast</b>: {% set comma = joiner(",") %} {% for item3 in main_cast %}{{comma()}} <a href="/movies/cast/{{item3}}">{{item3}}</a>{% endfor %}<br>
      <b>remaining cast</b>: {% set comma = joiner(",") %} {% for item4 in remaining_cast %}{{comma()}} <a href="/movies/cast/{{item4}}">{{item4}}</a>{% endfor %}<br>
      <b>plot summary</b>: {{item[10]}}<br>
{% endfor %}

<br>

{% for item7 in results6 %}
       <b>BOX genre</b>: {{item7[0]}}<br>
{% endfor %}

<b>BOX theaters</b>: {{results6[0][1]}} {% if results6[0][1] > 800 %} (Wide){% endif %} {% if results6[0][1] < 800 %} (Limited){% endif %}<br>



<b>BOX distributor</b>: {{results6[0][2]}}<br>

<br>
{% for item2 in results3 %}
       <b>company</b>: {{item2[0]}}<br>
{% endfor %}

<br>

{% for item2 in results4 %}
       <b>company</b>: {{item2[0]}}<br>
{% endfor %}


{% endblock %}

